
<div>
    <mat-toolbar color="primary" class="navbar">
        <div> 
           User 
        </div>
        <div >
            
        </div>

    </mat-toolbar>
</div>
<div class="div1">
    <button mat-raised-button><a id="link1" routerLink="/updateseat" routerLinkActive="Active"  >Update NoofPassengers</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/userdetail" routerLinkActive="Active" >Details</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/payment" routerLinkActive="Active" >Payment</a></button>

    <button mat-raised-button ><a id="link1" routerLink="/nav" routerLinkActive="Active" >Home</a></button>
</div>