form {
    width: 40%;
    border: .1em solid var(--border);
    border-radius: 2em;
    margin: 1% ;
    position: relative;
}
.heading{
    padding:3%;
}
a{
    text-decoration: none;
}
#div1,#div2{
    display:inline-block;
    margin-right:10%;
}
.data{

    font-size: 1.5em;

}