<body>
<mat-toolbar color="primary">
    <div> 
        Flight Details Deletion
    </div>
</mat-toolbar>
<div *ngIf ="display; then thenblock; else otherblock"></div>
    <ng-template #thenblock>
        <form #addnew="ngForm" (ngSubmit)="flightdelete(idflight.value)" > 
            <div class="form-group">
                <label for="flightId">FlightId</label>
                <input type="text" required #idflight ="ngModel" id="flightId" name="flightId" [class.is-invalid]="idflight.invalid && idflight.touched"  pattern="^(0|[1-9][0-9]*)$"  class="form-control" ngModel><br>
                <div *ngIf="idflight.errors && (idflight.invalid || idflight.touched)">
                    <small class="text-danger" *ngIf="idflight.errors['required']">FlightId location is required</small>
                    <small class="text-danger" *ngIf="idflight.errors['pattern']">Enter valid Id</small>
                </div>
            </div>


        <div>
            <button mat-stroked-button [disabled] ="addnew.form.invalid" onclick="if (!confirm('Are you sure?')) { return false }" >Delete</button>
        </div>

        </form>
    </ng-template>

    <ng-template #otherblock>
        <h2 class="heading">{{string}}</h2>
        <button class="buttons" mat-stroked-button ><a  routerLink="/adminfunc" routerLinkActive="Active" >Back</a></button>
   </ng-template>
</body>

