<body>
<mat-toolbar class="division1">
    <div >

    </div>
</mat-toolbar>
<mat-toolbar class="division2 " >
    <div id="page1">FlyTrip</div>
    <div>
        <span><a class="link1" href="#">Home</a></span>
       <span><a class="link1" routerLink="/adminauth" routerLinkActive="Active" >Admin</a></span>
        <Span ><a class="link1" routerLink="/search" routerLinkActive="Active" >Search</a></Span>
       <Span ><a class="link1" routerLink="/login" routerLinkActive="Active" >Login</a></Span>

    </div>   
</mat-toolbar>


<div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-12">
        <img src="flight.jpg" alt="placeholder 960" class="img-responsive" />
        <div class="centered">Flight Ticket Booking App</div>
      </div>
     </div>
  </div>
</body>