<mat-toolbar color="primary">
    <div> 
        Flight Detail Searching
    </div>
</mat-toolbar>

<div *ngIf ="display; then thenblock; else elseblock"></div>
<ng-template #thenblock>
        <form #addnew="ngForm" (ngSubmit)="flightdetail(idflight.value)" > 
            <div class="form-group">
                <label for="flightId">FlightId</label>
                <input type="text" required #idflight ="ngModel" id="flightId" name="flightId" [class.is-invalid]="idflight.invalid && idflight.touched"  pattern="^(0|[1-9][0-9]*)$"  class="form-control" ngModel><br>
                <div *ngIf="idflight.errors && (idflight.invalid || idflight.touched)">
                    <small class="text-danger" *ngIf="idflight.errors['required']">FlightId location is required</small>
                    <small class="text-danger" *ngIf="idflight.errors['pattern']">Enter valid Id</small>
                </div>
            </div>


        <div>
            <button mat-stroked-button [disabled] ="addnew.form.invalid" type="submit">Search</button>
        </div>

        </form>
</ng-template>


<ng-template #elseblock>

    <div *ngIf ="Data==null; then notavaliable; else elseblock1 "> </div>
    <ng-template #elseblock1>
        <table  class="styled-table"  >
            <thead>
            <tr>
                <th> FlightID</th>
                <th> Departure</th>
                <th> Destination</th>
                <th> Date</th>
                <th> Price</th>
                <th></th>
            </tr>
            </thead>
            <tr >
                <td>{{Data.flightId}}</td>
                <td>{{Data.departure}}</td>
                <td>{{Data.destination}}</td>
                <td>{{Data.date}}</td>
                <td>{{Data.price}}</td>
            </tr>

        </table>
        <button mat-stroked-button ><a  routerLink="/adminfunc" routerLinkActive="Active" >Back</a></button>
    </ng-template>
</ng-template>


    <ng-template #notavaliable>
    
        <p class="sorry"> No Flights are avaliable </p>
        <button mat-stroked-button ><a  routerLink="/adminfunc" routerLinkActive="Active" >Back</a></button>

    </ng-template>
