<div>
    <mat-toolbar color="primary" class="navbar">
        <div> 
           Flight Booking  
        </div>
        <div >
            Admin Page
        </div>

    </mat-toolbar>
</div>
<div class="div1">
    <button mat-raised-button><a id="link1" routerLink="/addflight" routerLinkActive="Active"  >Add Flight</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/flightsavailable" routerLinkActive="Active" >Flights Available</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/flightdetail" routerLinkActive="Active" >Flight Detail</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/flightdelete" routerLinkActive="Active" >Delete Flight</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/updateflight" routerLinkActive="Active" > Update Flight</a></button>
</div>
<div class="div1">
    <button mat-raised-button><a id="link1" routerLink="/addvacancy" routerLinkActive="Active"  >VacancyList Update</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/passengerslist" routerLinkActive="Active" >Passengers List</a></button>
    <button mat-raised-button ><a id="link1" routerLink="/seatsavailable" routerLinkActive="Active" > Seats Available</a></button>

    <button mat-raised-button ><a id="link1" routerLink="/nav" routerLinkActive="Active" >Home</a></button>

</div>

