form {
    width: 40%;
    border: .1em solid var(--border);
    border-radius: 2em;
    margin: 2%;
    position: relative;
}
button{
    margin: 2%;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.styled-table thead tr {
    background-color: #c2c2f8;
    color: #1f1d1d;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

body{
    padding-left: 2%;
}
tr:last-child {
    border-bottom: none;
   }